 <div id="main-content-block">
 <h1>Sling API Builder</h1>

 <div class="model-dropdown-block">
  <select id="model-select">
   <option>Choose model for testing.</option>
  </select>
  <div class="query-block">
      <div class="query-type">
       <input type="radio" id="GET"
              name="contact" value="GET">
       <label for="GET">GET</label>

       <input type="radio" id="POST"
              name="contact" value="POST">
       <label for="POST">POST</label>

       <input type="radio" id="UPDATE"
              name="contact" value="UPDATE">
       <label for="UPDATE">UPDATE</label>

       <input type="radio" id="DELETE"
              name="contact" value="DELETE">
       <label for="DELETE">DELETE</label>
      </div>
      <div class="inputs-block"></div>
  </div>
 </div>

 </div>